<form method="POST" action="">
    UserId <input type="text" name="UserId" />
    <br>
    skuname <input type="text" name="sku_name" />
    <br>
    skucategory <input type="text" name="sku_category" />
    <br>
    price <input type="number" name="price" />
    <input type="submit">
  </form>