<form method="POST" action="">
    UserId <input type="text" name="UserId" />
    <br>
    PhoneNum <input type="number" name="PhoneNum" />
    <br>
    Password <input type="password" name="Password" />
    <br>
    DOB <input type="date" name="DOB" />
    <input type="submit">
  </form>