<table border = 1>
    {% for user in userDetails1 %}
    <tr>
      <td> {{user[0]}} </td>
      <td> {{user[1]}} </td>
      <td> {{user[2]}} </td>
      <td> {{user[3]}} </td>
    </tr>
    {% endfor %}
  </table>